{
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": [0],
    "global-require": 0,
    "jsx-a11y/accessible-emoji": "off",
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/no-dynamic-require": 0
  }
}
